# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e460960cb0dc30271c0e123b9bf9b216"
name = "custom-price-calculate"
application_url = "https://unlimited-varints-creator-app-for-nprint-client.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,read_metaobjects,write_metaobjects,write_metaobject_definitions,write_orders,write_customers,write_draft_orders,write_files,read_files,read_draft_orders"

[auth]
redirect_urls = [ "https://unlimited-varints-creator-app-for-nprint-client.onrender.com/api/auth" ]


[app_proxy]
url = "https://unlimited-varints-creator-app-for-nprint-client.onrender.com" 
subpath = "customprice"
prefix = "apps"
